<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      meteo app
    </ion-title>
    
  </ion-toolbar >
</ion-header>

<ion-content>
  
  <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <iframe  src="https://www.youtube.com/embed/AYh12yiE0bQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
      <ion-button color="primary" (click)="navToAbout()">about</ion-button>
    </ion-card>
    
</ion-content>

